RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ index.php [QSA,L]

# Sécurité fichiers sensibles (au cas où)
<FilesMatch "\.(env|log|sql|md|yml|yaml|ini)$">
    Require all denied
</FilesMatch>